*.avi
*.cache
*.csv
*.exe
*.ipynb
*.jpeg
*.jpg
*.json
*.mat
*.mkv
*.mov
*.mp4
*.pdf
*.png
*.pptx
*.pt
*.txt
*.txt
*.yaml
*.yaml
*.zip
.computervision/
.debug/
models/yolo/output_images/extracted_images/
